###############################################################################
# Build directories
###############################################################################

Debug/
Release/

###############################################################################
# CubeIDE user settings
###############################################################################

.settings/

###############################################################################
# Generated build files
###############################################################################

*.o
*.d
*.su
*.map
*.list
*.elf
*.hex
*.bin

###############################################################################
# Temporary / backup files
###############################################################################

*.bak
*.tmp
*.temp
*.orig
*~

###############################################################################
# Operating system
###############################################################################

Thumbs.db
Desktop.ini

###############################################################################
# VSCode (если используешь)
###############################################################################

.vscode/

###############################################################################
# Logs
###############################################################################

*.log